@import "../../scss/variables.scss";

.check-out-proj-div {
  font-size: 3rem;
  display: flex;
  margin: 30px 0;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  .text-container {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    // justify-content: space-between;
    & > div {
      // flex: 1 1 auto;
      text-align: center;
    }
  }
  .down-arrow {
    width: 50px;
  }
  .text-anim {
    min-width: 10px;
    min-height: 10px;
  }
}

// project carousel section

.overall-project-div {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  .btn-slide-left,
  .btn-slide-right {
    cursor: pointer;
    width: 70px;
    background-color: white;
  }
  .project-container {
    width: 90vw;
    overflow: hidden;
    .slide {
      display: flex;
      min-width: fit-content;
      gap: 1.5rem;
      transition: transform 500ms;
    }
  }
}

// PROJECT CARDS

.card-project {
  min-width: 500px;
  flex: 1 1 100%;
  padding: 10px;

  .description {
    padding: 20px;
    text-align: center;
    h3 {
      font-size: 20px;
      margin-bottom: 10px;
      font-weight: bold;
    }
    p {
      font-size: 18px;
    }
  }
  .btn-div {
    width: 100%;
    & > a {
      padding: 8px 10px;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
      background-color: $primary-color;
      display: block;
      margin: auto;
      width: 80%;
    }
  }
  .project-link-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > div {
      color: black;
      padding: 10px;
      border-top: 2px solid grey;
      height: 50px;
      width: 80%;
      @extend %flex;
      background-color: white;
      &:hover {
        background-color: hsl(0, 0%, 85%);
      }
      a {
        color: black;
        font-weight: bold;
        font-size: 20px;
        width: 90%;
        text-align: center;
        flex-shrink: 0;
        display: block;
      }
    }
  }
}
.btn-link-div {
  display: flex;
}

// responsive

@media (max-width: 600px) {
  .card-project {
    min-width: 350px;
  }
}
@media (max-width: 500px) {
  .card-project {
    min-width: 100%;
  }
  .overall-project-div .btn-slide-left,
  .overall-project-div .btn-slide-right {
    display: none;
  }
  .overall-project-div .project-container .slide {
    min-width: auto;
  }
  .overall-project-div .project-container {
    overflow: scroll;
  }
}
@media (max-width: 425px) {
}
@media (max-width: 320px) {
  .card-project .description > p {
    font-size: 15px;
    padding: 10px;
  }

  .check-out-proj-div .text-container {
    gap: 20px;
  }
  .check-out-proj-div .text-container > div {
    flex: 1 1 auto;
  }

  .card-project .project-link-div > div {
    height: 38px;
  }
  .card-project .project-link-div > div a {
    display: none;
  }
}
