.contact-div {
  display: flex;
  justify-content: space-around;
  margin-top: 10rem;
  border: 2px solid red;
  position: relative;
  align-items: center;
  overflow: hidden;
  margin-bottom: 3rem;
}
.contact-div .side-nav {
  font-weight: 200;
  top: 0;
  left: 0;
  transform-origin: left bottom;
  transform: rotate(90deg) translateX(-20px);
  position: absolute;
  font-size: 13px;
  font-family: Roboto Mono, Verdana, Geneva, Tahoma, sans-serif;
}
.contact-div .side-nav span {
  display: inline-block;
  margin: 0px 30px;
}
.contact-div .title {
  font-size: 3rem;
  min-width: 20%;
}
.contact-div .title h1 {
  font-size: 60px;
}
.contact-div .changing-heading {
  position: relative;
}
.contact-div .changing-heading #contactText {
  display: none;
}
.contact-div .changing-heading h1 {
  position: absolute;
  top: -140px;
  left: 0;
}
.contact-div .links {
  width: 15%;
}
.contact-div .links img {
  border-radius: 15px;
}
.contact-div .links a {
  display: inline-block;
  background-color: white;
}
.contact-div .links a:nth-child(1), .contact-div .links a:nth-child(2) {
  padding: 8px;
}
.contact-div .masked-div {
  width: 40%;
  position: relative;
  max-height: 500px;
  border: 2px solid green;
}
.contact-div .masked-div img {
  mask-image: url(/src/assets/zletter.svg);
  -webkit-mask-image: url(/src/assets/zletter.svg);
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-position: -20px 80px;
  -webkit-mask-position: -20px 80px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
.contact-div .masked-div .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 600px) {
  .contact-div {
    flex-direction: column;
    gap: 130px;
  }
  .contact-div .side-nav {
    display: none;
  }
  .contact-div .title {
    width: 100%;
    text-align: center;
  }
  .contact-div .links {
    transform: rotate(-90deg);
  }
  .contact-div .links a {
    transform: rotate(90deg) translateX(10px);
  }
  .contact-div .masked-div {
    max-height: 800px;
    width: 100%;
  }
}
@media (max-width: 400px) {
  .contact-div .masked-div {
    max-height: 500px;
  }
}